{% extends 'profile/profile_template.html.twig' %}

{% block maincontent %}
    <table class="table">
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('project_show', {'id': project.id}) }}">{{ project.name }}</a></td>
            </tr>
        {% endfor %}
    </table>

    <a href="{{ path('workspace_new') }}">Добавить</a>
{% endblock %}
