{% extends 'base_template.html.twig' %}

{% block title %}Profile{% endblock %}

{% block nav %}
	<ul>
        {% for project in projects %}
            <li><a href="{{ path('project_show', {'id': project.id}) }}">{{ project.name }}</a></li>
        {% endfor %}
        <li><div class="divider"></div></li>
	    <a href="{{ path('project_new') }}">Добавить</a>
    </ul>
{% endblock %}

{% block content %}
    <h1>{{ workspace.name }}</h1>
    {% block maincontent %}{% endblock %}
{% endblock %}
