<form method="post" action="{{ path('system_setting_delete', {'id': system_setting.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ system_setting.id) }}">
    <button class="btn">Delete</button>
</form>
