{% extends 'base.html.twig' %}

{% block title %}Edit SystemSetting{% endblock %}

{% block body %}
    <h1>Edit SystemSetting</h1>

    {{ include('system_setting/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('system_setting_index') }}">back to list</a>

    {{ include('system_setting/_delete_form.html.twig') }}
{% endblock %}
