{% extends 'base.html.twig' %}

{% block title %}SystemSetting index{% endblock %}

{% block body %}
    <h1>SystemSetting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for system_setting in system_settings %}
            <tr>
                <td>{{ system_setting.id }}</td>
                <td>{{ system_setting.name }}</td>
                <td>
                    <a href="{{ path('system_setting_show', {'id': system_setting.id}) }}">show</a>
                    <a href="{{ path('system_setting_edit', {'id': system_setting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('system_setting_new') }}">Create new</a>
{% endblock %}
