{% extends 'base.html.twig' %}

{% block title %}SystemSetting{% endblock %}

{% block body %}
    <h1>SystemSetting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ system_setting.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ system_setting.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('system_setting_index') }}">back to list</a>

    <a href="{{ path('system_setting_edit', {'id': system_setting.id}) }}">edit</a>

    {{ include('system_setting/_delete_form.html.twig') }}
{% endblock %}
