{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
	    <div class="input-field col s3">
	    </div>
	    <div class="input-field col s6 login-form z-depth-3 reg-page">
	    	{{ form_start(registrationForm) }}
                <h3 class="h3 mb-3 font-weight-normal">Регистрация</h3><br/>
                <div class="input-field col s2">
                </div>
                <div class="input-field col s8">
                	<div class="label-div">
	                	{{ form_row(registrationForm.name, {label: 'Имя', 'attr': {'placeholder': 'Имя'}}) }}
						{{ form_row(registrationForm.email, {label: 'E-mail', 'attr': {'placeholder': 'E-mail'}}) }}
						{{ form_row(registrationForm.plainPassword, {label: 'Пароль', 'attr': {'placeholder': 'Пароль'}}) }}
			        </div><br/>			    
			    <button type="submit" class="btn">Сохранить</button>
	    		{{ form_end(registrationForm) }}<br/><br/><br/>
	            <u><a href="/login" class="href">Вход</a></u>
	            <br/><br/><br/>
            </div>
        </div>
    </div>    
</div>
{% endblock %}