{% extends 'base.html.twig' %}

{% block title %}Вход{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="input-field col s3">
        </div>
        <div class="input-field col s6 login-form z-depth-3 reg-page">
            <form method="post">
                <h3 class="h3 mb-3 font-weight-normal">Вход</h3><br/>
                <div class="row">
                <div class="input-field col s2">
                </div>
                <div class="input-field col s8">
                    {% if error %}
                        <div>Неверные данные для входа</div><br/><br/>
                    {% endif %}
                    <div class="label-div">
                        <label for="inputUsername" class="sr-only">E-mail</label>
                        <input type="text" value="{{ last_email }}" name="_username" id="username" class="form-control reg-page" placeholder="E-mail" required autofocus>
                    </div><br/><br/>
                    <div class="label-div">
                        <label for="inputPassword" class="sr-only">Пароль</label>
                        <input type="password" name="_password" id="password" class="form-control reg-page" placeholder="Пароль" required>
                    </div><br/><br/><br/>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="btn btn-lg btn-primary reg-page" type="submit">Войти</button><br/><br/><br/>
                    <u><a href="/register" class="href">Регистрация</a></u>
                    <br/><br/><br/>
                </div>
            </form>
        </div>
    </div>    
</div>
{% endblock %}
