@import url('materialize.min.css');

.sf-minitoolbar,
.sf-minitoolbarreset,
.sf-toolbar,
.sf-toolbarreset,
.sf-toolbar-icon,
.sf-error-toolbar {
	display: none !important;
	visibility: none !important;
}

body {
    background-color: #eeeeee;
}

.body {
	height: 870px;
}

.reg-page {
	text-align: center !important;
	margin: 0 !important;
}

input {
	padding:2px !important;
	border:1px solid #9e9e9e !important;
	border-radius:2px !important;
	height:2em !important;
}

.img-for-nav {
	height: 63px;
	margin-left: 20px;
}

.login-form {
	margin-top: 50px !important;
	background: #ffffff;
}

.href {
	font-size: 14pt;
	color: #757575;
}

.label-div {
	text-align: left !important;
	align-content: left !important;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black;
}