<form method="post" action="{{ path('workspace_delete', {'id': workspace.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ workspace.id) }}">
    <button class="btn">Delete</button>
</form>
