{% extends 'base.html.twig' %}

{% block title %}Workspace index{% endblock %}

{% block body %}
    <h1>Workspace index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workspace in workspaces %}
            <tr>
                <td>{{ workspace.id }}</td>
                <td>{{ workspace.name }}</td>
                <td>
                    <a href="{{ path('workspace_show', {'id': workspace.id}) }}">show</a>
                    <a href="{{ path('workspace_edit', {'id': workspace.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('workspace_new') }}">Create new</a>
{% endblock %}
