{% extends 'base.html.twig' %}

{% block title %}Workspace{% endblock %}

{% block body %}
    <h1>Workspace</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workspace.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ workspace.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('workspace_index') }}">back to list</a>

    <a href="{{ path('workspace_edit', {'id': workspace.id}) }}">edit</a>

    {{ include('workspace/_delete_form.html.twig') }}
{% endblock %}
