<form method="post" action="{{ path('account_setting_delete', {'id': account_setting.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ account_setting.id) }}">
    <button class="btn">Delete</button>
</form>
