{% extends 'base.html.twig' %}

{% block title %}Edit AccountSetting{% endblock %}

{% block body %}
    <h1>Edit AccountSetting</h1>

    {{ include('account_setting/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('account_setting_index') }}">back to list</a>

    {{ include('account_setting/_delete_form.html.twig') }}
{% endblock %}
