{% extends 'base.html.twig' %}

{% block title %}AccountSetting index{% endblock %}

{% block body %}
    <h1>AccountSetting index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for account_setting in account_settings %}
            <tr>
                <td>{{ account_setting.id }}</td>
                <td>{{ account_setting.name }}</td>
                <td>
                    <a href="{{ path('account_setting_show', {'id': account_setting.id}) }}">show</a>
                    <a href="{{ path('account_setting_edit', {'id': account_setting.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('account_setting_new') }}">Create new</a>
{% endblock %}
