{% extends 'base.html.twig' %}

{% block title %}New AccountSetting{% endblock %}

{% block body %}
    <h1>Create new AccountSetting</h1>

    {{ include('account_setting/_form.html.twig') }}

    <a href="{{ path('account_setting_index') }}">back to list</a>
{% endblock %}
