{% extends 'base.html.twig' %}

{% block title %}AccountSetting{% endblock %}

{% block body %}
    <h1>AccountSetting</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ account_setting.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ account_setting.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('account_setting_index') }}">back to list</a>

    <a href="{{ path('account_setting_edit', {'id': account_setting.id}) }}">edit</a>

    {{ include('account_setting/_delete_form.html.twig') }}
{% endblock %}
