<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav>
            <div class="nav-wrapper white">
                <a href="/" class="brand-logo"><img class="img-for-nav" src="{{ asset('images/logo.png') }}" alt="Logo"></a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
