{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
        <div class="col s2 teal lighten-3" style="height: 865px">
            {% block nav %}{% endblock %}
        </div>
        <div class="col s10" style="height: 865px">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}